* {
}
.bar {
  background-color: rgb(104, 183, 210);
  background-image: url(../img/pattern.png);
}
.logo {
  margin-right: 10em;
  margin-left: 2em;
  border: 10em;
  width: 20%;
}
.titolo {
  margin-top: 1.5em;
  margin-bottom: 0em;
}
.foto {
  margin-left: 0%;
}
.primacolonna {
  background-color: rgb(141, 164, 193);
  color: beige;
}
.secondacolonna {
  background-color: rgb(176, 185, 197);
}
.terzacolonna {
  background-color: rgb(236, 236, 236);
}
.quartacolonna {
  background-color: rgb(124, 152, 188);
}

.ultimariga {
  text-align: center;
  color: antiquewhite;
}
.last {
  background-color: rgb(33, 55, 119);
}
table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 2em;
}
table td {
  width: 100%;
}
p {
  margin: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0em;
}
